.filter {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  gap: 10px;
}

button {
  background-color: #233D4D;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
}

button:hover {
  background-color: #138496;
}
